.card-container {
  max-width: 90%;

  .card-content {
    display: flex;
    text-align: start;
  }
  img {
    max-width: 100%;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li::before {
    content: "•";
    padding-right: 8px;
  }
}
