@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin button-base {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: calc(0.9rem + 0.4vw);
  font-weight: 500;
  font-family: $font-title-h2;
  cursor: pointer;
  transition: border-color 0.25s;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.primary-button {
  @include button-base;
  background-color: $light-grey;

  &:hover {
    background-color: $black;
    color: white;
  }

  &.active {
    background-color: $black;
    color: white;
  }
}

.secondary-button {
  @include button-base;
  background-color: white;
  border: solid 1px $dark-grey;

  &:hover {
    background-color: $dark-grey;
    color: white;
  }

  &.active {
    background-color: $black;
    color: white;
  }
}
