.card-container,
.card-container-preview,
.card-container-id {
  .variety-cards,
  .recipe-cards,
  .recipe-cards-id,
  .preview-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    border: solid black 3px;
    padding: 10px 25px;
    margin: 3vh 12vw 10vh;
    background-color: white;
    .card-content {
      display: flex;
      text-align: start;
    }
    img {
      height: 170px;
      min-width: 100%;
      object-fit: cover;
    }

    ul {
      list-style-type: none;
      padding-left: 1vw;
      margin: 0;
    }
    li::before,
    label {
      content: "•";
      padding-right: 8px;
    }
    .pot-var-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1vh;
    }
  }

  .recipe-cards-id {
    margin: 15vh auto;
    border: none;
  }
}
.new-recipe {
  .card-container-preview {
    .preview-card {
      justify-content: start;
      align-items: self-start;
      img {
        height: 250px;
        max-width: 100%;
      }
    }
  }
}

.card-container-preview {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0.5vh;
  }
  .preview-card {
    button:nth-last-of-type(2n) {
      margin-top: 2vh;
    }
    button:nth-last-child(-n + 1) {
      margin-bottom: 3vh;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1450px) {
  .recipe-cards-id {
    width: 70%;
    img {
      min-height: 450px;
      width: 50%;
    }
    .recipe-infos {
      margin: 2vh auto;
    }
  }
  .card-container {
    width: 90%;
    margin-inline: auto;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6vh;

    .variety-cards,
    .recipe-cards {
      margin: 0 auto;
      width: 90%;
    }
  }
  .card-container-preview {
    display: flex;
    justify-content: center;
    .preview-card {
      margin: 5vh 2vw 20vh;
      width: 30%;
      img {
        height: 250px;
        max-width: 100%;
      }
    }
  }
  .new-recipe {
    .card-container-preview {
      width: 100%;
      .preview-card {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1450px) {
  .card-container {
    width: 70%;
    margin-inline: auto;
    margin-bottom: 10vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    row-gap: 6vh;
    .variety-cards,
    .recipe-cards {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: 75%;
      img {
        height: 400px;
        max-width: 100%;
      }
    }
    .variety-cards {
      .card-content {
        width: 100%;
      }
    }
  }
  .card-container-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    .preview-card {
      margin: 5vh 2vw 25vh;
      width: 15%;
      background-color: white;
      img {
        height: 400px;
        max-width: 100%;
      }
    }
  }
  .new-recipe {
    .card-container-preview {
      width: 100%;
      .preview-card {
        width: 100%;
      }
    }
  }
  .card-container-id {
    .recipe-cards-id {
      margin: 10vh 25vw;
      border: none;
      img {
        height: 400px;
        max-width: 100%;
      }
    }
  }
}
