h1 {
  font-family: "Antonio";
  font-weight: 400;
  font-size: 1.2rem;
}

h2 {
  font-family: "Sansita", sans-serif;
  font-style: italic;
  font-weight: 800;
  color: black;
  font-size: calc(2rem - 1vw);
  line-height: 1.1;
}

h3 {
  font-family: "Antonio", sans-serif;
  font-weight: 800;
  color: black;
  font-size: calc(2rem - 1vw);
  margin-bottom: 2vh;
}

h4 {
  font-family: "Antonio", sans-serif;
  margin-top: 1.5vh;
  margin-bottom: 0.7vh;
}

p {
  font-family: "poppins";
  font-weight: 400;
  font-size: 0.9rem;
}
a {
  cursor: pointer;
  text-decoration: none;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: black;
  color: white;
}
.active {
  background-color: black;
  color: white;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.small_potato {
  width: calc(100% - 40px);
  margin: 1vh 0;
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  h2 {
    font-size: calc(3.5rem - 3vw);
  }
  h1 {
    font-size: calc(0.8rem + 1rem);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: calc(5rem - 2vw);
  }
  h1 {
    font-size: calc(1rem + 1rem);
  }
}

@media screen and (min-width: 1024px) {
  .arrow {
    width: calc(23% - 150px);
  }
  h2 {
    font-size: calc(6rem - 2vw);
  }
  h1 {
    font-size: calc(1rem + 1rem);
  }
}
