.menu-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  z-index: 0;
  background-color: $light-grey;
  h1 {
    margin: 5vh 0vw;
  }
  nav {
    display: flex;
    justify-content: center;

    ul {
      width: 80%;
      display: flex;
      justify-content: space-around;
      a {
        font-size: calc(2rem - 1vw);
        padding: 1rem 2rem;
        color: black;
        &:hover {
          font-weight: 800;
          transform: scale(1.2);
          color: black;
        }
      }
    }
  }
}
