.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  bottom: 100px;
  padding-bottom: 20vh;
  display: flex;
  justify-content: center;
}

.modal {
  top: 20vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  max-width: 80%;
}
