.new-recipe {
  display: flex;
  justify-content: center;
  width: 100%;
  .recipe-form,
  .new-recipe-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0vh 5vw;
    label {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1.5vh;
    }
    .ingredients-container,
    .recipe-step-container,
    .quantity-container {
      display: flex;
      flex-direction: column;
    }
    .ingredients-container,
    .recipe-step-container {
      margin-top: 5vh;
    }
    input,
    select,
    textarea {
      width: 100%;
      border: solid 1px;
      padding: 0.5vh;
      margin-top: 0.3vh;
    }
    textarea {
      min-width: 20vw;
      min-height: 10vh;
    }
    .quantity-input {
      display: flex;
      align-items: center;
      width: 60%;
      input {
        margin-right: 0.5vw;
      }
    }
  }
}
