.profile-container {
  background-color: $light-grey;
  height: 100vh;
  img {
    margin: 1vh 0vw;
    margin-top: 3vh;
    width: calc(50vw - 10px);
  }
  p {
    margin: 1vh 0vw;
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .profile-container {
    img {
      width: calc(25vw - 10px);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .profile-container {
    img {
      width: calc(20vw - 10px);
    }
  }
}

@media screen and (min-width: 1024px) {
  .profile-container {
    img {
      width: calc(10vw - 10px);
    }
  }
}
