#trouve-variete,
#trouve-recettes {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;

  .recettes {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 90%;
    margin: 10vh auto;

    .div-img {
      display: flex;
      flex-direction: column;
    }
    .img {
      width: calc(50vh - 0px);
    }

    .form_recettes {
      display: flex;
      flex-direction: column;

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      h1 {
        text-align: start;
        margin-bottom: 10px;
      }
      input {
        padding: 4px 8px;
      }
      // .grid_recettes {
      //   grid: 1fr, 1fr;
      // }
    }
  }
}

@media screen and (min-width: 150px) and (max-width: 768px) {
  #trouve-recettes {
    .recettes {
      flex-direction: column-reverse;
    }
  }
  #trouve-variete {
    .recettes {
      flex-direction: column;
    }
  }
  #trouve-variete,
  #trouve-recettes {
    .recettes {
      align-items: start;
      .img {
        width: calc(30vh - 100px);
      }
      .div-img {
        width: 20%;
        align-items: flex-start;
      }
      .form_recettes {
        justify-content: start;
        form {
          display: flex;
          justify-content: space-evenly;
          button {
            margin-block: 0.5vh;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  #trouve-variete,
  #trouve-recettes {
    flex-direction: row;
    // margin: 0 5vw;

    .recettes {
      flex-direction: column-reverse;
      justify-content: start;
      align-items: center;
      margin: 5vh auto;
      .img {
        width: calc(30vh - 10px);
      }
      .form_recettes {
        display: flex;
        form {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
      .div-img {
        display: flex;
        width: 80%;
        flex-direction: column;
      }
    }
  }
}
@media screen and (min-width: 1100px) {
  #trouve-variete,
  #trouve-recettes {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    .recettes {
      display: flex;
      flex-direction: row;
      height: 50vh;
      margin: 5vh auto;
      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .div-img {
        display: flex;
        justify-content: flex-start;
        align-self: start;
        .img {
          width: calc(30vh - 10px);
          margin-inline: 3vw;
        }
      }
    }
  }
}
