#trouve-variete,
#trouve-recettes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.recettes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;

  .div-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .img {
    display: flex;
    width: calc(50vh - 0px);
  }

  .form_recettes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    form {
      display: flex;
      justify-content: space-between;
    }
    h1 {
      text-align: start;
      margin-bottom: 10px;
    }
    input {
      padding: 4px 8px;
    }
    .grid_recettes {
      grid: 1fr, 1fr;
    }
  }

  .return-menu-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    // margin-bottom: 5dvh;
    width: 8vw;

    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      color: black;
    }

    // .arrow-top {
    //   display: flex;
    //   width: 100%;
    // }
  }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
  .recettes {
    flex-direction: column;
    .img {
      width: calc(40vh - 100px);
    }
    .div-img {
      width: 20%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #trouve-variete,
  #trouve-recettes {
    flex-direction: row;
    .recettes {
      flex-direction: row;
      .img {
        width: calc(30vh - 10px);
      }
      .form_recettes {
        width: 50vw;
      }
      .div-img {
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  #trouve-variete,
  #trouve-recettes {
    flex-direction: row;
    .recettes {
      flex-direction: row;
      .img {
        width: calc(40vh - 10px);
      }
      .div-img {
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
}
